<div class="content">
    <div class="pb-5">
        <div class="row g-4">
            <div class="col-12 col-xxl-6">
                <div class="mb-8">
                    <h2 class="mb-2">Users</h2>
                    <h5 class="text-body-tertiary fw-semibold">Manage users</h5>
                </div>

                <!-- Table Start -->

                <div id="tableExample"
                    data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;age&quot;],&quot;page&quot;:5,&quot;pagination&quot;:true}">
                    <div class="table-responsive">
                        <table class="table table-sm fs-9 mb-0">
                            <thead>
                                <tr>
                                    <th class="sort border-top border-translucent ps-3" data-sort="name">Full Name</th>
                                    <th class="sort border-top border-translucent" data-sort="email">Email</th>
                                    <th class="sort border-top border-translucent" data-sort="age">Status</th>
                                    <th class="sort text-end align-middle pe-0 border-top border-translucent"
                                        scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody id="tbody" class="list">
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex flex-between-center pt-3">
                        <div class="pagination d-none">
                            <li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button>
                            </li>
                            <li><button class="page" type="button" data-i="2" data-page="5">2</button></li>
                            <li><button class="page" type="button" data-i="3" data-page="5">3</button></li>
                            <li class="disabled"><button class="page" type="button">...</button></li>
                        </div>
                        <p class="mb-0 fs-9">
                            <span class="d-none d-sm-inline-block" data-list-info="data-list-info">1 to 5 <span
                                    class="text-body-tertiary"> Items of </span>43</span>
                            <span class="d-none d-sm-inline-block"> — </span>
                            <a class="fw-semibold" href="#!" data-list-view="*">
                                View all
                                <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""
                                    style="transform-origin: 0.3125em 0.5625em;">
                                    <g transform="translate(160 256)">
                                        <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                                            <path fill="currentColor"
                                                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                                                transform="translate(-160 -256)"></path>
                                        </g>
                                    </g>
                                </svg><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
                            </a><a class="fw-semibold d-none" href="#!" data-list-view="less">
                                View Less
                                <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1"
                                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""
                                    style="transform-origin: 0.3125em 0.5625em;">
                                    <g transform="translate(160 256)">
                                        <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                                            <path fill="currentColor"
                                                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                                                transform="translate(-160 -256)"></path>
                                        </g>
                                    </g>
                                </svg><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com -->
                            </a>
                        </p>
                        <div class="d-flex">
                            <button class="btn btn-sm btn-primary disabled" type="button" data-list-pagination="prev"
                                disabled=""><span>Previous</span></button>
                            <button class="btn btn-sm btn-primary px-4 ms-2" type="button"
                                data-list-pagination="next"><span>Next</span></button>
                        </div>
                    </div>
                </div>

                <!-- Table End -->

            </div>
        </div>
    </div>
    <footer class="footer position-absolute">
        <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 mt-2 mt-sm-0 text-body">© 2025 LMS</p>
            </div>
            <div class="col-12 col-sm-auto text-center">

            </div>
        </div>
    </footer>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Render Lists
        fetch('http://localhost:8080/users')
            .then(response => response.json())
            .then(result => {

                let tbodyHTML = '';

                result.data.forEach(row => {
                    tbodyHTML += `
                            <tr>
                                <td class="align-middle ps-3 name">${row.name}</td>
                                <td class="align-middle email">${row.email}</td>
                                <td class="align-middle age"><span
                                        class="badge badge-phoenix badge-phoenix-success">Active</span>
                                </td>
                                <td class="align-middle white-space-nowrap text-end pe-0">
                                    <div class="btn-reveal-trigger position-static"><button
                                            class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10"
                                            type="button" data-bs-toggle="dropdown" data-boundary="window"
                                            aria-haspopup="true" aria-expanded="false"
                                            data-bs-reference="parent"><svg class="svg-inline--fa fa-ellipsis fs-10"
                                                aria-hidden="true" focusable="false" data-prefix="fas"
                                                data-icon="ellipsis" role="img" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 448 512" data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z">
                                                </path>
                                            </svg><!-- <span class="fas fa-ellipsis-h fs-10"></span> Font Awesome fontawesome.com --></button>
                                        <div class="dropdown-menu dropdown-menu-end py-2"><a
                                                class="dropdown-item" href="#!">Edit</a><a class="dropdown-item"
                                                href="#!">Reset Password</a>
                                            <div class="dropdown-divider"></div><button data-user-id="${row.id}" class="remove-account-btn dropdown-item text-danger">Remove Account</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `;
                });

                document.getElementById('tbody').innerHTML = tbodyHTML;

                // Remove / Delete Account
                document.querySelectorAll('.remove-account-btn').forEach(btn => {
                    btn.onclick = () => {
                        const userId = btn.dataset.userId;

                        deleteAccount(userId);
                    }
                })

            })
            .catch(err => console.error(err));
    });

    function deleteAccount(id) {
        fetch('http://localhost:8080/remove-user', {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                user_id: id
            })
        })
            .then(response => response.json())
            .then(result => {
                window.location.reload();
            })
            .catch(err => console.error(err));
    }
</script>